# Environment variables
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / distribution folders
build/
dist/
*.egg-info/